<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="carte" href="/tabs/carte">
      <ion-icon name="map"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parcours" href="/tabs/parcours">
      <ion-icon name="list"></ion-icon>
      <ion-label>Parcours</ion-label>
    </ion-tab-button>

<ion-tab-button tab="apropos" href="/tabs/apropos">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>À propos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>