<!-- Animation d'entrée dans l'app ( animation du logo)-->
<ion-content [fullscreen]="true">
  <div class="splash-bg">
    <div class="gradient-orb orb1"></div>
    <div class="gradient-orb orb2"></div>
    <div class="gradient-orb orb3"></div>

    <div class="splash-content" [class.visible]="visible">
      <div class="logo-container">
        <div class="logo-ring">
          <span class="logo-emoji">🐚</span>
        </div>
        <div class="logo-text-block">
          <h1 class="logo-title">KAVAL</h1>
          <div class="logo-line"></div>
          <p class="logo-subtitle">ILE Nouville  BAGNE DE NOUVELLE-CALÉDONIE</p>
        </div>
      </div>
      <p class="logo-date">1864 — 1897</p>
    </div>

    <div class="splash-loader" [class.visible]="visible">
      <div class="loader-bar">
        <div class="loader-fill"></div>
      </div>
    </div>
  </div>
</ion-content>